<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Brief_Veterino</display-name>
  <welcome-file-list>
    <welcome-file>Accueil.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
        <servlet-name>Inscription</servlet-name>
        <servlet-class>Com.Servlet.Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Inscription</servlet-name>
        <url-pattern>/Inscrip</url-pattern>
    </servlet-mapping>
  
  <servlet>
        <servlet-name>Identification</servlet-name>
        <servlet-class>Com.Servlet.Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Identification</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
  
  <servlet>
        <servlet-name>Repondre</servlet-name>
        <servlet-class>Com.Servlet.Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Repondre</servlet-name>
        <url-pattern>/repondreQuestion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Deconnection</servlet-name>
        <servlet-class>Com.Servlet.Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Deconnection</servlet-name>
        <url-pattern>/deconnecter</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AjouterQuestion</servlet-name>
        <servlet-class>Com.Servlet.Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AjouterQuestion</servlet-name>
        <url-pattern>/ajouterQuestion</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>EffectuerRdv</servlet-name>
        <servlet-class>Com.Servlet.Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EffectuerRdv</servlet-name>
        <url-pattern>/effectuerRdv</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Confimer</servlet-name>
        <servlet-class>Com.Servlet.Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Confimer</servlet-name>
        <url-pattern>/confirmeRdv</url-pattern>
    </servlet-mapping>
 
    
    
    
  
</web-app>
